html {
  height: 100%;
  width: 100%;
}

.header{
  width: 100%;
  
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  position:sticky;
  top:0;
  left:0;
  position: absolute;
  /* height: 10vh; */
  width: 100%;
  font-family: Anton;
  border-bottom: 2px #9BA4B5 solid;
}

h1{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 1rem;
  align-self: center;
}

.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding: 0 1rem;
  align-self: center;
  margin-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.name_user{
  font-size: 1.2rem;
  font-family:Signika;
  font-weight: 200;
  /* padding: 0 1rem; */
  padding-left: 0.5rem;
  align-self: center;
}
.profile img{
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  object-fit: cover;
}

.search{
  display: flex;
  position: absolute;
  height: 6vh;
  top: 7rem;
  right: 1.5rem;
  margin:0;
  padding: 0;
  gap: 0.3rem;
}

.search input{
  border-radius: 0.3rem;
  width: 22vw;
  outline: none;
  border:#9BA4B5 2px solid;
}

input[type="text"]{
  font-family: Signika;
  font-size: 1rem;
  padding-left: 1rem;
  color:#9BA4B5;
}
::placeholder{
  font-family: Signika;
  font-size: 1rem;
  color: #9BA4B5;
}

button{
  border-radius: 0.3rem;
  border: none;
  background-color: #F45050;
  color: white;
  font-family: Signika;
  font-size: 1rem;
  font-weight:600;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover{
  background-color: #D2001A;
  color: white;
}

table{
  width: 80%;
  position:absolute;
  left: 10%;
  top: 12rem;
  text-align: left;
  font-family: Signika;
  border: 2px #9BA4B5 solid;
  border-radius: 0.3rem;
  border-collapse: collapse;
}

.namebook{
  width: 40%;
}

.authorbook{
  width: 22.5%;
}

.topicbook{
  width: 22.5%;
}

.actionbook{
  width: 15%;
}


th,td{
  /* padding-left: 0.5rem; */
  /* align-items: left; */
  border-collapse: collapse;
  border: 2px #9BA4B5 solid;
  padding-bottom: 0.5rem;
  padding-left: 10px;
  font-family: Signika;
  font-size: 1rem;
  font-weight: 200;
  color: #9BA4B5;
}


.namebook, .authorbook, .topicbook, .actionbook{
  padding: 0.5rem 0 0.5rem 10px;
  color:black;
  font-weight: 600;
}

.delete{
  color:#D2001A;
  cursor: pointer;
  text-decoration: underline;
}